{{ #each trips as |trip| }}
<section class="card"> 

<div class="card-body">
    <a href="/trip-details/{{trip.id}}">
    <h2>{{trip.title}}
        
    </h2></a>
        {{Best_Memories}}
        {{Worst_Memories}}
        {{city}}
        {{state}}
</div>
    
</section>